#Menu {
  background-color: #f3e4e1;
  height: 100%;
}

.meny-lista {
  list-style: none;
}

#big-circle {
  background-color: #2f2926;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  top: 0.8rem;
  right: 0.8rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#small-circle {
  background-color: #e5674e;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#number {
  font-size: 1rem;
  color: white;
}

#bag {
  cursor: pointer;
}

.menu-title {
  font-size: 2rem;
}

.the-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 0.3rem;
}

.the-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#title-overlay {
  padding: 0 0 1rem 0;
  color: #2f2926;
  font-size: 2rem;
  font-family: "PT serif";
  text-align: center;
}

#moms {
  color: #2f2926;
  font-size: 0.8rem;
  text-align: left;
}

#total {
  font-family: "PT serif";
  padding: 1rem 0 0 0;
  font-size: 1.1rem;
}
