.title-cart {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  font-family: "PT Serif";
  list-style-type: none;
}

.price-cart {
  font-size: 1rem;
  font-family: "Work Sans";
  list-style-type: none;
}
