#About {
  background-color: #f3e4e1;
  min-height: 100%;
}

.leftalign {
  text-align: left;
  padding: 0.5rem 0 0 2rem;
}

.leftaligntext {
  text-align: left;
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
  line-height: 1.5;
}

.VD {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

h3 {
  font-family: "PT serif";
}

.VD-text {
  font-size: 0.8rem;
}

.Footer {
  transform: rotatex(180deg);
  object-fit: cover;
  width: 100%;
}
